<h1 mat-dialog-title class="is-flex justify-center">{{ data.activityName }}</h1>

<mat-dialog-content>
  <span>Monitor: {{ data.instructor }}</span>
  <br>
  <span>{{ data.room }}</span>
  <br>
  <span>{{ data.start | date: 'dd-MM-yyyy HH:mm' }}</span>
  <br>
  <br>
  <ng-container *ngIf="data.available; else notAvailable">
    <p>{{ data.totalPlaces - data.bookedPlaces === 0 ? 'No quedan plazas' : (data.totalPlaces - data.bookedPlaces)
      +
      ' plazas disponibles' }}</p>
  </ng-container>
  <ng-template #notAvailable>
    <span>Reservas cerradas</span>
  </ng-template>

  <mat-form-field appearance="fill" class="full-width" *ngIf="data.available">
    <input matInput placeholder="Introduce tú email" [formControl]="formControl">
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions style="display:flex; justify-content: center;">
  <button mat-raised-button mat-dialog-close>Cancelar</button>
  <button [disabled]="data.totalPlaces - data.bookedPlaces === 0 || formControl.invalid" color="primary"
    mat-raised-button [mat-dialog-close]="formControl.value">
    {{ data.totalPlaces - data.bookedPlaces === 0 ? 'No quedan plazas' : 'Reservar' }}
  </button>
</mat-dialog-actions>