*
  font-family: 'Source Sans Pro', sans-serif

.mdc-card
  margin: 4px !important
  color: white
  padding: .5rem

.is-loading
  background: #eee
  background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%)
  border-radius: 5px
  background-size: 200% 100%
  animation: 1.5s shine linear infinite
  color: #c3c3c3
  cursor: wait

@keyframes shine
  to
    background-position-x: -200%

@media (min-width: 1281px)
  .mdc-card
    width: 15vw

@media (min-width: 1025px) and (max-width: 1280px)
  .mdc-card
    width: 20vw

@media (min-width: 768px) and (max-width: 1024px)
  .mdc-card
    width: 25vw

@media (min-width: 550px) and (max-width: 767px)
  .mdc-card
    width: 40vw

@media (min-width: 480px) and (max-width: 550px)
  .mdc-card
    width: 50vw

@media (min-width: 320px) and (max-width: 480px)
  .mdc-card
    width: 65vw
