<div *ngIf="formGroup" class="filter-container" [formGroup]="formGroup">
  <mat-form-field appearance="fill">
    <mat-label>Actividades</mat-label>
    <mat-select formControlName="activities" multiple>
      <mat-option *ngFor="let activity of filterOptions.activities" [value]="activity">{{activity}}</mat-option>
    </mat-select>
    <button *ngIf="formGroup.get('activities')?.value?.length" mat-icon-button matSuffix
      (click)="formGroup.get('activities')?.reset()"><mat-icon>close</mat-icon></button>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Salas</mat-label>
    <mat-select formControlName="rooms" multiple>
      <mat-option *ngFor="let rooms of filterOptions.rooms" [value]="rooms">{{rooms}}</mat-option>
    </mat-select>
    <button *ngIf="formGroup.get('rooms')?.value?.length" mat-icon-button matIconSuffix
      (click)="formGroup.get('rooms')?.reset()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
</div>