
html, body
  margin: 0
  padding: 0
  height: 100%
  width: 100%

.pointer
  cursor: pointer

.is-flex
  display: flex

.justify-between
  justify-content: space-between

.justify-center
  justify-content: center

.full-width
  width: 100%

.mdc-evolution-chip-set__chips
  flex-wrap: unset !important
  width: 100%
  overflow-x: scroll

section
  padding: 1rem
