.table-container
  margin: 0 1rem
  max-height: 75vh
  overflow: scroll

.mdc-data-table__cell, .mdc-data-table__header-cel
  padding: 0

.mdc-data-table__header-cell
  background-color: #000000 !important
  color: #FFF

td
  vertical-align: baseline
