@defer (when (dataSource | async)?.length) {
<div class="table-container">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 table">
    @for (day of (columns | async); track day) {
    <ng-container [matColumnDef]="day" [sticky]="day === 'hour'">
      <th mat-header-cell *matHeaderCellDef color="primary">
        {{ (day !== 'hour' ? (day | date: 'EEEE dd') : (today | date: 'MMMM')) | titlecase }}
      </th>
      <td mat-cell *matCellDef="let element">
        @if (day !== 'hour') {
        <app-card *ngFor="let event of element[day]" class="pointer" [event]="event"
          (click)="openDialog(event)"></app-card>
        } @else {
        <p style="text-align: center">
          {{element[day]}}
        </p>
        }
      </td>
    </ng-container>
    }

    <tr mat-header-row *matHeaderRowDef="(columns | async); sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: columns | async"></tr>
  </table>
</div>
} @loading (minimum 0.5s) {
<div class="placeholder-container">
  <div class="placeholder">
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>
}