<div class="table-container">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 table">

    <ng-container *ngFor="let day of columns | async" [matColumnDef]="day" [sticky]="day === 'hour'">
      <th mat-header-cell *matHeaderCellDef color="primary">
        {{ (day !== 'hour' ? (day | date: 'EEEE dd') : (today | date: 'MMMM')) | titlecase }}
      </th>
      <td mat-cell *matCellDef="let element">
        <ng-container *ngIf="day !== 'hour';else hourColumn">
          <!-- <div class="cell-container"> -->
          <app-card *ngFor="let event of element[day]" class="pointer" [event]="event"
            (click)="openDialog(event)"></app-card>
          <!-- </div> -->
        </ng-container>
        <ng-template #hourColumn>
          <p style="text-align: center">
            {{element[day]}}
          </p>
        </ng-template>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="(columns | async); sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: columns | async"></tr>
  </table>
</div>