<div class="table-container">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 table">

    <ng-container *ngFor="let day of columns" [matColumnDef]="day" [sticky]="day === 'hour'">
      <th mat-header-cell *matHeaderCellDef color="primary">
        {{ day !== 'hour' ? day : (columns[1] | date: 'MMMM') }}
      </th>
      <td mat-cell *matCellDef="let element">
        <ng-container *ngIf="day !== 'hour';else hourColumn">
          <div class="cell-container">
            <ng-container *ngFor="let event of element[day]">

              <ng-container *ngIf="!element.collapsed; else collapsed">
                <!-- expanded events -->
                <app-card [event]="event"></app-card>
              </ng-container>
              <!-- collapsed events -->
              <ng-template #collapsed>
                <div class="collapsed-event" [ngStyle]="{'background-color': event.color}"></div>
              </ng-template>

            </ng-container>
          </div>
        </ng-container>
        <ng-template #hourColumn>
          <button mat-raised-button (click)="expandCollapse(element)">
            {{element[day]}}
          </button>
        </ng-template>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: columns"></tr>
  </table>
</div>